{
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:import/recommended",
        "prettier"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "requireConfigFile": false,
      "babelOptions": {
        "babelrc": false,
        "configFile": false,
        "presets": ["@babel/preset-env", "@babel/preset-react"]
      }
    },
    "plugins": [
        "react",
      "react-hooks",
    "import",
    "jsx-a11y"
    ],
    "settings": {
      "react": {
        "version": "detect"
      },
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
    },
    "rules": {
        "no-const-assign": "error",
        "react/jsx-uses-react": "off",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "no-use-before-define": "off",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never"
          }
        ],
        "react/jsx-filename-extension": [
          1,
          {
            "extensions": [
              ".js",
              ".jsx"
            ]
          }
        ],
        "no-shadow": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "import/prefer-default-export": "off"
    }
  }